@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base pour garantir que ça s'affiche bien */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f172a; /* Slate-900 : Fond sombre par défaut */
  color: #f8fafc;
  overflow: hidden; /* Empêche les barres de défilement doubles */
}

/* Force la carte à prendre toute la place disponible */
.leaflet-container {
    width: 100%;
    height: 100vh;
    background: #0f172a;
    z-index: 0;
}